<!DOCTYPE html>
<html lang="en">

<head>
  {{> headBase}}
  <meta name="keywords" content="jobs, jobs searching, it, programming jobs">
  <meta name="description" content="JobsIT - Dream jobs just like you've been dreaming and jobbing about!">
  <title>Home Page</title>
  <link rel="stylesheet" href="./css/pages/home.css">
  <script type="module" src="./js/modules/job/job-search-form.mjs"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="./js/modules/chat-socket.mjs"></script>
</head>

<body class="flex flex_column">
  {{> header}}

  <main class="flex flex_column flex_justify_center">
    <div class="main-wrapper main-wrapper_width_m flex flex_align_center flex_justify_center">
      <section class="search-banner flex flex_column flex_gap_xxl flex_gap_xxl_bp_s">
        <section class="search-banner__section flex flex_column flex_align_center">
          <h1
            class="text text_heading_1 text_align_center text_color_primary-light text_font-size_xxxl text_font-weight_medium text_letter-spacing_s text_tranform_capitalize">
            Find your dream job!</h1>
          <code
            class="text text_align_center code code_bg-color_dark code_color_light code_p_l code_border-radius_l"># <b>Dream</b> jobs just like you've been <del datetime="2023-11-02">dreaming</del> <ins datetime="2023-11-02">jobbing</ins> about!</code>
        </section>
        <section class="search-banner__section job-search job-search_large flex flex_justify_center flex_align_center">
          <form id="job-search-form"
            class="job-search__form flex flex_justify_center flex_column_bp_s flex_gap_xl_bp_s">
            <div class="job-search__input-container">
              <input class="input job-search__input input_bg-color_light input_p_xl input_border-radius_l" type="text"
                name="title" placeholder="Front-end Developer">
              <span class="input__error-message input__error-message_hidden text text_font-size_s"></span>
            </div>
            <div class="job-search__input-container">
              <input class="input job-search__input input_bg-color_light input_p_xl input_border-radius_l" type="text"
                name="location" placeholder="Saint-Petersburg">
              <span class="input__error-message input__error-message_hidden text text_font-size_s"></span>
            </div>
            <button
              class="button button_large button_primary text text_color_primary-light text_font-size_l">Search</button>
          </form>
        </section>
        <section class="search-banner__section flex flex_justify_center flex_align_center">
          <div
            class="platform-info search-banner__stats flex flex_justify_between flex_align_center flex_column_bp_s flex_gap_xxl_bp_s">
            {{> statsSection stats=stats usersAvatars=usersAvatars}}
          </div>
        </section>
      </section>
    </div>
  </main>
  {{> chat}}
  {{> footer}}
</body>

</html>