.input {
  display: flex;
  align-items: center;
  font-family: var(--font-family-main);
  color: var(--font-primary-light);
}

.input_fullwidth {
  width: 100%;
}

.input_bg-color_light {
  background-color: var(--primary-light);
}

.input_bg-color_dark {
  background-color: var(--secondary-dark);
}

.input_p_m {
  padding: var(--spacing-m);
}

.input_p_xl {
  padding: var(--spacing-xl);
}

.input_p_l {
  padding: var(--spacing-l);
}

.input_border-radius_l {
  border-radius: var(--spacing-l);
}

.input_checkbox,
.input_radio {
  height: 18px;
  width: 18px;
  position: relative;
}

.input__box {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.input__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-grey);
  border-radius: var(--spacing-s);
  border: var(--spacing-s) solid var(--light-grey);
  transition: border-color 0.2s ease-in-out;
}

.input__box:checked+.input__checkmark {
  border-color: var(--secondary-light);
}

.input__box:disabled+.input__checkmark {
  border-color: var(--secondary-light);
  opacity: 0.7;
}

.input_disabled+.input__label {
  opacity: 0.7;
}

.input::placeholder {
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-light);
  color: var(--font-secondary-dark);
}

.input__error-message {
  color: var(--font-error);
}

.input__error-message.input__error-message_hidden {
  display: none;
}