.header {
  background-color: var(--primary-dark);
  padding: var(--spacing-l);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .header__title {
  margin-bottom: 0;
}

.header .header__navigation {
  margin-left: var(--spacing-xl);
}

.header .header__navigation-item:not(:last-of-type) {
  margin-right: var(--spacing-xl);
}
