.job-search {
  padding: var(--spacing-m) 0;
}

.job-search .job-search__form {
  width: 100%;
}

.job-search_large .job-search__form .job-search__input-container {
  width: 35%;
  margin-right: var(--spacing-xl);
}

.job-search_large .job-search__form .job-search__input {
  width: 100%;
}

.job-search_small .job-search__form .job-search__input-container {
  width: 20%;
  margin-right: var(--spacing-xl)
}

.job-search_small .job-search__form .job-search__input {
  width: 100%;
}

@media screen and (max-width: 768px) {

  .job-search_small .job-search__form .job-search__input-container,
  .job-search_large .job-search__form .job-search__input-container {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .job-search_small .job-search__form .job-search__input-container {
    width: 100%;
    margin-right: var(--spacing-xl)
  }
}

@media screen and (max-width: 1200px) {
  .job-search_small .job-search__form .job-search__input-container {
    width: 40%;
    margin-right: var(--spacing-xl)
  }
}

@media screen and (min-width: 2160px) {
  .job-search_small .job-search__form .job-search__input-container {
    width: 25%;
  }

  .job-search_large .job-search__form .job-search__input-container {
    width: 40%;
  }
}