.table {
  display: grid;
  overflow: auto;
  border-radius: var(--spacing-l);
  grid-template-columns: 1fr;
}

.table_cols_1 .table__row {
  grid-template-columns: 1fr;
}

.table_cols_2 .table__row {
  grid-template-columns: repeat(2, 1fr);
}

.table_cols_3 .table__row {
  grid-template-columns: repeat(3, 1fr);
}

.table_cols_4 .table__row {
  grid-template-columns: repeat(4, 1fr);
}

.table .table__body,
.table .table__head {
  display: grid;
  grid-template-columns: subgrid;
}

.table_dark .table__row_head {
  color: var(--font-secondary-light);
}

.table_dark .table__body .table__row:nth-of-type(even),
.table_dark .table__row_head {
  background-color: var(--dark-grey);
}

.table_dark .table__body .table__row:nth-of-type(odd) {
  background-color: var(--light-grey);
}

.table_skeleton .table__body .table__row,
.table_skeleton .table__row_head {
  color: transparent;
  background-image: linear-gradient(120deg, var(--light-grey) 25%, #3D3735 50%, var(--light-grey) 75%);
  animation: SkeletonBackground 2.5s linear infinite;
}

.table_spacing_xl .table__col {
  padding: var(--spacing-xl);
}

.table_sticky-header .table__head {
  position: sticky;
  top: 0;
}

.table_sticky-header .table__row_head {
  border-bottom: var(--spacing-s) solid var(--secondary-dark);
}

.table_fullwidth {
  width: 100%;
}

.table_height_s {
  max-height: 50vh;
}

.table_gap-y_xl .table__row:not(:last-of-type),
.table_gap-y_xl .table__row_head {
  margin-bottom: var(--spacing-l);
}

@media screen and (max-width: 480px) {
  .table .table__col {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@keyframes SkeletonBackground {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: -100% 50%;
  }
}
