.container_width_l {
  width: 80%;
  max-width: var(--content-width-l);
}

.container_py_m {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.container_py_xxxl {
  padding-top: var(--spacing-xxxl);
  padding-bottom: var(--spacing-xxxl);
}

.container_px_l {
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.container_px_xxxl {
  padding-left: var(--spacing-xxxl);
  padding-right: var(--spacing-xxxl);
}